<form class="form-horizontal"
      name="bookForm"
      novalidate
      ng-controller="booksEditController as vm">
    <fieldset>
        <legend>Book Information</legend>

        <div class="form-group"
             ng-class="{'has-error':bookForm.inputCode.$invalid &&
                                    bookForm.inputCode.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputCode">Code</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputCode"
                       name="inputCode"
                       type="text"
                       placeholder="Book Code (required)"
                       ng-model="vm.book.Code"
                       ng-pattern="/^[A-Z]{3}[-][0-9]{4}$/"
                       maxlength="8"
                       required
                       ng-required="true">
                <div ng-messages="bookForm.inputCode.$error">
                    <p class="help-block has-error" ng-message="required" ng-show="bookForm.inputCode.$touched">
                        Product Code is required
                    </p>
                    <p class="help-block has-error" ng-message="pattern">
                        Code is not valid. It must be in ABC-9999 format.
                    </p>

                </div>
            </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error':bookForm.inputTitle.$invalid &&
                                    bookForm.inputTitle.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputTitle">Title</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputTitle"
                       name="inputTitle"
                       type="text"
                       placeholder="Title (required)"
                       ng-model="vm.book.Title"
                       required
                       ng-minlength="1"
                       ng-maxlength="100" />
                <div ng-messages="bookForm.inputTitle.$error">
                    <p class="help-block has-error" ng-message="required" ng-show="bookForm.inputTitle.$touched">
                        Book title is required.
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputAvailabilityDate">Availability</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputAvailabilityDate"
                       name="inputAvailabilityDate"
                       type="date"
                       placeholder="Release date (required)"
                       ng-model="vm.book.ReleaseDate"
                       required />
                <div ng-messages="bookForm.inputAvailabilityDate.$error">
                    <p class="help-block has-error" ng-message="required" ng-show="bookForm.inputTitle.$touched">
                        Book release date is required.
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputPrice">Price in {{currency}}</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputPrice"
                       name="inputPrice"
                       type="text"
                       placeholder="Price (required)"
                       ng-model="vm.book.Price"
                       ng-currency
                       currency-symbol="R$"
                       required />
                <div ng-messages="bookForm.inputPrice.$error">
                    <p class="help-block has-error" ng-message="required" ng-show="bookForm.inputPrice.$touched">
                        Book price date is required.
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-disabled="bookForm.$invalid"
                            ng-click="vm.submit(bookForm.$valid)">
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            ng-click="vm.cancel(bookForm)">
                        Cancel
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group"
             ng-show="vm.message">
            <div class="col-md-6">
                <pre style="font: inherit">{{ vm.message }}</pre>
            </div>
        </div>

    </fieldset>
</form>