<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="Content/bootstrap.min.css" />
</head>
<body ng-app="booksSeller" ng-controller="mainController as vm">

    <div class="container">
        <div ng-if="vm.editionMode"
             ng-include="'app/books/booksEditView.html'"></div>
        <div ng-if="!vm.editionMode"
             ng-include="'app/books/booksListView.html'"></div>

        <input type="button" class="btn btn-primary pull-right" ng-click="swapMode()" ng-hide="vm.editionMode" value="Add new book">
    </div>

    <!-- Library Scripts -->
    <script src="scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>    
    <script src="Scripts/angular-messages.min.js"></script>
    <script src="Scripts/directives/ng-currency.js"></script>

    <!-- Application Script -->
    <script src="app/app.js"></script>

    <!-- Services -->
    <script src="services/common.services.js"></script>
    <script src="services/booksService.js"></script>
    <script src="services/bookEditService.js"></script>

    <!-- Product Controllers -->
    <script src="app/mainController.js"></script>
    <script src="app/books/booksListController.js"></script>
    <script src="app/books/booksListController.js"></script>
    <script src="app/books/booksEditController.js"></script>

</body>
</html>
